@import "../utils/variables";

button {
  padding: 16px 151px;
  border-radius: 5px;
  background: $primary-400;
  border: none;
  outline: 0;
  color: #ffffff;
  box-shadow: 0px 16px 24px rgba(81, 104, 244, 0.2),
    0px 2px 6px rgba(81, 104, 244, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
  transition: 0.3s;

  &:hover {
    background: $primary-300;
  }

  &.small-shadow {
    box-shadow: 0px 3px 4px rgba(81, 104, 244, 0.2),
      0px 0px 2px rgba(81, 104, 244, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04) !important;
  }

  &.outline {
    color: $primary-400;
    background: transparent;
    box-shadow: none;
    border: 2px solid $primary-400;

    &:hover {
      border: 2px solid $primary-300;
      color: $primary-300;
      background: transparent;
    }
  }
}
