@import "../utils/variables";

label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $gray-500;
}

input {
  display: block;
  padding: 16px;

  border: 1.5px solid $gray-200;

  border-radius: 5px;

  transition: 0.3s;

  margin-top: 8px;

  &::placeholder {
    color: $gray-300;
  }

  &:hover {
    border-color: $gray-300;
  }

  &.active {
    border-color: $primary-400;
  }

  &:disabled {
    border: 1.5px solid $gray-300;
    background: $gray-200;
  }

  &.error {
    border: 1.5px solid $color-error;
  }

  &.success {
    border: 1.5px solid $color-success;
  }
}
